
.maincontainer
{
display: flex;
align-items: center;
justify-content: center;
height: 70vh;
width: 100%;
flex-direction: column;
font-family: 'Sora', sans-serif;
overflow: hidden;

}
.container{
    font-family: 'Dela Gothic One', cursive;
    display: flex;
    height: 65vh;
    width: 60vw;
    position: relative;
   
}

.tagcontainer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  height: 100%;
  width: 100%;
 
}

.imgcontainer{
    height: 100%;
     width: 100%;
     display: flex;
}
.imgcontainer img{
    height: 100%;
    width: 100%;
    position: absolute;
    left: -150%;

}

.tagcontainer h1{
    position: absolute;
    font-size: 80px;
    transform: translateX(110%);
    
}
.paracontainer{
    margin-top: 10px;
    color: black;
    height: 20px;
    width: 44vw;
    
    overflow: hidden;
}
.footer{
height: 20vh;
display: flex;
align-items: center;
justify-content: space-evenly;
}
.footer h1{
    font-family: 'Dela Gothic One', cursive;
    cursor: pointer;
}
.footer p{
    font-family: 'Goldman', cursive;
    width: 65vw;
}
