.maincontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
    flex-direction: column;
    font-family: 'Sora', sans-serif;
    overflow: hidden;
    position: relative;
  }
  
  .container {
    font-family: 'Dela Gothic One', cursive;
    display: flex;
    height: 65vh;
    width: 60vw;
    position: relative;
    transition: transform 1s ease-in-out;
  }
  
  .slide-in-left .container {
    transform: translateX(-100%);
  }
  
  .slide-in-right .container {
    transform: translateX(100%);
  }
  
  .tagcontainer {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .tag {
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: transform 1s ease-in-out;
  }
  
  .tag.active {
    transform: translateX(0);
  }
  
  .imgcontainer {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
  }
  
  .imgcontainer img {
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateX(-150%);
    transition: transform 1s ease-in-out;
  }
  
  .image.active {
    transform: translateX(0);
  }

  
  .tagcontainer h1 {
    position: absolute;
    font-size: 80px;
    transform: translateX(500%);
  }
  
  .paracontainer {
    margin-top: 10px;
    color: black;
    height: 20px;
    width: 44vw;
    overflow: hidden;
  }
  
  .footer {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  #prev{
    opacity: .5;
  }
  .footer h1 {
    font-family: 'Dela Gothic One', cursive;
    cursor: pointer;
  }
  
  .footer p {
    font-family: 'Goldman', cursive;
    width: 65vw;
  }
  